{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' ? now 'U' %}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

{% block content %}
<body>
    {% block nav %}{% include 'navbar.html' %}{% endblock nav %}
    <div class="" style="min-height:65vh;">
        <legend class="border-bottom mb-4">Profile Information:</legend>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% if user.is_authenticated %}
                <div class="media">
                    <div class="media-body">
                        <h2 class="account-heading">Hi, {{ form.instance.username }}</h2>
                        <p class="text-secondary">{{ form.instance.email }}</p>
                    </div>
                </div>
    
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Edit Profile Information</legend>
                    <div class="form-row">
                        <div class="form-group col-md-6 mb-0">
                            {{ form.email }}
                        </div>
                    </div>
                    <a href="{% url 'account:reset_pwd' %}">Change password?</a>
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-info" type="submit" href="{% url 'account:profile' username=user.username  %}">Update</button>
                </div>
            {% endif %}
        </form>
    </div>
    {% block footer %}{% include 'footer.html' %}{% endblock footer %}
</body>

{% endblock content %}