{% load static %}

{% block content %}
<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4>About Us</h4>
          <p>We are a specialized team of experienced share brokers providing quality services to our clients. Contact us to know more.</p>
        </div>
        <div class="col-md-4">
          <h4>Contact Us</h4>
          <p>39 Middleton Boulevard<br> Nottingham, NG8 1FY<br> Phone: +44 7776733712<br> Email: ikeoluwakolawole@gmail.com</p>
        </div>
        <div class="col-md-4">
          <h4>Follow Us</h4>
          <ul class="social-icons">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}